body{
    margin: 0;
}

.body{
    width:80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
    background-color: rgb(255, 255, 255);
    /* viewport width:*/
    font-size: 10vw;
    color: black;
    /* mix-blend-mode: color-dodge; */
    text-shadow: 10px 40px 10px rgb(232, 110, 110);
    border: 20px;
}

.bgsky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    /* vh = viewport height*/
    height: 100vh;
    /*OBJECT FIT DETERMINES HOW A VIDEO OR IMAGE WILL FIT IN THE SPAVE IT OCCUPIES */
    object-fit: cover;
    object-position: center;
}

.littleboatsound {
    
}

.thetherapy {

}